.root {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;
    min-height: 0;
}
.content {
    background: rgba(255, 255, 255, 1);
    width: 240px;
    height: 207px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    left: auto;
    top: auto;
    flex-shrink: 0;
}
.frame53 {
    flex-direction: column;
    height: auto;
    display: flex;
    position: relative;
    align-self: stretch;
}
.frame53 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
}
.frame53 > :global(.__wab_flex-container) > *,
.frame53 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame53 > :global(.__wab_flex-container) > picture > img,
.frame53 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
    margin-top: 8px;
}
.frame50 {
    flex-direction: column;
    height: auto;
    display: flex;
    position: relative;
    align-self: stretch;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
}
.frame50 > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: calc(0px - 4px);
    height: calc(100% + 4px);
}
.frame50 > :global(.__wab_flex-container) > *,
.frame50 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame50 > :global(.__wab_flex-container) > picture > img,
.frame50 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
    margin-top: 4px;
}
.frame19 {
    flex-direction: row;
    height: 32px;
    display: flex;
    position: relative;
    align-self: stretch;
    flex-shrink: 0;
}
.frame19 > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
}
.frame19 > :global(.__wab_flex-container) > *,
.frame19 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame19 > :global(.__wab_flex-container) > picture > img,
.frame19 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
    margin-left: 8px;
}
.name {
    position: relative;
    width: 72px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}
.text__ioquD {
    display: block;
    font-size: 11px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    letter-spacing: 0.005em;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.8);
}
.valueInput:global(.__wab_instance) {
    max-width: 100%;
    position: relative;
}
.svg__rGr {
    position: relative;
    object-fit: cover;
    width: 1em;
    height: 1em;
}
.svg__psL7 {
    position: relative;
    object-fit: cover;
    width: 1em;
    height: 1em;
}
.svg__za67E {
    position: relative;
    object-fit: cover;
    max-width: 100%;
    color: #000;
    width: 240px;
    height: 1px;
    display: block;
    flex-shrink: 0;
}
.freeBox__teFv {
    display: block;
    position: relative;
    width: 240px;
    height: 46px;
    flex-shrink: 0;
}
.button {
    flex-direction: row;
    transform: scale(1.000000499999875, 0.999999500000375) rotate(-0.057295760416576934deg)
        skew(-0.05729570311883569deg, 0deg);
    height: auto;
    display: flex;
    transform-origin: top left;
    position: absolute;
    align-self: stretch;
    left: 0px;
    top: 0px;
    width: 100%;
    min-width: 0;
    padding: 8px;
}
.button > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 4px);
    width: calc(100% + 4px);
}
.button > :global(.__wab_flex-container) > *,
.button > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button > :global(.__wab_flex-container) > picture > img,
.button > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
    margin-left: 4px;
}
.confirm:global(.__wab_instance) {
    max-width: 100%;
    position: relative;
    left: auto;
    top: auto;
    width: 144px;
    flex-shrink: 0;
}
.showDiffs {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    max-width: 100%;
    align-self: stretch;
    min-width: 0;
    padding: 0px 8px;
}
.frame27 {
    flex-direction: row;
    height: 32px;
    display: flex;
    width: 100%;
    min-width: 0;
    flex-shrink: 0;
}
.frame27 > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    margin-left: calc(0px - 40px);
    width: calc(100% + 40px);
}
.frame27 > :global(.__wab_flex-container) > *,
.frame27 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame27 > :global(.__wab_flex-container) > picture > img,
.frame27 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
    margin-left: 40px;
}
.title3 {
    position: relative;
    width: 144px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}
.title4 {
    display: block;
    font-size: 11px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    letter-spacing: 0.005em;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.8);
}
._32Minus {
    opacity: 0.8;
    width: 24px;
    height: 24px;
    display: block;
    position: relative;
    flex-shrink: 0;
}
.img {
    position: absolute;
    object-fit: cover;
    max-width: 100%;
    width: 14px;
    height: 14.736px;
    display: block !important;
    top: 5px;
    left: 5px;
    overflow: hidden;
}
.img > picture > img {
    object-fit: cover;
}
.img > .__wab_img-spacer > img {
    object-fit: cover;
}
.freeBox__qWorA {
    display: flex;
    position: relative;
    flex-direction: column;
    align-self: stretch;
}
.diff__yvKti:global(.__wab_instance) {
    position: relative;
    align-self: auto;
}
.svg__lMPsH {
    position: relative;
    object-fit: cover;
    color: #000;
    width: 240px;
    height: 1px;
    display: block;
    flex-shrink: 0;
}
.text__qBnf {
    opacity: 0.4;
    display: block;
    font-size: 11px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    letter-spacing: 0.005em;
    line-height: 16px;
    color: rgba(0, 0, 0, 1);
    align-self: stretch;
    position: relative;
    width: 100%;
    margin-top: 8px;
    min-width: 0;
}
